<section id="sidebar">
    <a href="{% url 'dashboard' %}" class="brand">
        <i class='fas fa-user'></i>
        <span class="text">Portafolio</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="{% url 'dashboard' %}">
                <i class='fas fa-home'></i>
                <span class="text">Inicio</span>
            </a>
        </li>
        <li>
            <a href="{% url 'portfolio' %}">
                <i class='fas fa-book'></i>
                <span class="text">Portafolio</span>
            </a>
        </li>
        <li>
            <a href="{% url 'conected' %}">
                <i class='fas fa-desktop'></i>
                <span class="text">IPs conectados</span>
            </a>
        </li>
        <li>
            <a href="{% url 'info' %}">
                <i class='fas fa-info'></i>
                <span class="text">Información</span>
            </a>
        </li>

    </ul>
    <ul class="side-menu">
        {% if not user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">
                    <i class='fas fa-key'></i>
                    <span class="text">Iniciar sesión</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'logout_view' %}" class="logout">
                    <i class='fas fa-lock'></i>
                    <span class="text">Cerrar Sesión</span>
                </a>
            </li>
        {% endif %}
    </ul>
</section>